#page_account-delete{
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
}

#page_account-delete form{
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 400px;
    height: 305px;
    background-color: white;
    border-radius: 5px;
    -webkt-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 4px 6px red, 0 1px 3px red;
    box-shadow: 0 4px 6px red, 0 1px 3px red;
}

#page_account-delete form p{
	position: relative;
	text-align: center;
}

#page_account-delete form {
    position: relative;
    text-align: center;
}

#page_account-delete form input{
    position: relative;
    text-align: center;
    padding: 10px 109px;
    border: 0px;
    left: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: #f3f3f3;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    -webkt-border-radius: 5px;
    -moz-border-radius: 5px;
}

#page_account-delete .delete_submit{
    height: 55px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 0px;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: #565656;
    border-radius: 0px 0px 5px 5px;
    -webkt-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    font-size: 18px;
}

#page_account-delete p{
	margin-bottom: -2px;
}

.home{
    margin-top: 20px; 
    color: #ff2525;
}

.home a{
    text-decoration: none;
    color: black;
}